@import '../../scss/index.scss';

.users{

    &__title{
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bold;
        }

        input{
            width: 50%;
            border-radius: 50px;
            border: 0;
            background-color: $background-dark-light;
            padding:5px 20px;
            color: $font-light;

            &:focus{
                outline: none;
            }

        }

    }

    &__options{
        display:flex !important;

        .btn.btn-primary{
            background-color: transparent !important;
            font-weight: bold;
            border: 1px solid $border-grey;
            padding: 15px 5px;
            border-radius: 50px;

            &:hover{
                background-color: rgba(29,161,242,0.1) !important;
                border: 1px solid $border-primary;
            }
            &.active{
                border-bottom: 1.5px solid $border-primary;
                color: $primary;
            }

        }


    }

    &__loading{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        >div{
            margin-bottom: 10px;
        }
    
    }
    
    .load-more.btn.btn-primary{
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus{
            background-color: transparent !important;
            color: $primary;
        }

    }

    



}

@media screen and (max-width: 768px) {
    .users{

        &__title{
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h2{
                font-size: 18px;
                margin-bottom: 0;
                font-weight: bold;
            }
    
            input{
                width: 50%;
                border-radius: 50px;
                border: 0;
                background-color: $background-dark-light;
                padding:5px 20px;
                color: $font-light;
                font-size: .9rem;
    
                &:focus{
                    outline: none;
                }
    
            }
    
        }
    
        &__options{
            .btn.btn-primary{
                padding: 15px 5px;
                border-radius: 50px;
                font-size: .8rem;
    
            }
    
    
        }
    
        &__loading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 50px;
            >div{
                margin-bottom: 10px;
            }
        
        }
        
        .load-more.btn.btn-primary{
            display: flex;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: transparent;
            border: 0;
            font-size: .9rem;
    
            &:hover,
            &:focus{
                background-color: transparent !important;
                color: $primary;
            }
    
        }
    
        
    
    
    
    }
}

@media screen and (max-width: 548px) {
    .users{

        &__title{
            h2{
                font-size: 15px;
            }
    
            input{
                font-size: .7rem;
    
            }
    
        }
    
        &__options{
            .btn.btn-primary{
                font-size: .6rem;
    
            }
    
    
        }
        .load-more.btn.btn-primary{
            font-size: .7rem;
        }
    
        
    
    
    
    }
}

@media screen and (max-width: 400px) {
    .users{

        &__title{
            h2{
                font-size: 12px;
            }
    
            input{
                font-size: .5rem;
    
            }
    
        }
    
        &__options{
            .btn.btn-primary{
                font-size: .4rem;
    
            }
    
    
        }
        .load-more.btn.btn-primary{
            font-size: .5rem;
        }
    
        
    
    
    
    }
}